USE [master]
GO
/****** Object:  Database [ComputerStoreDB]    Script Date: 26.03.2026 21:43:56 ******/
CREATE DATABASE [ComputerStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComputerStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ComputerStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComputerStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ComputerStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputerStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComputerStoreDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[LoyaltyCardNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[RegistrationDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deliveries]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveries](
	[DeliveryId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[StoreId] [int] NOT NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[InvoiceNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryItems]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryItems](
	[DeliveryItemId] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[StoreId] [int] NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[WarrantyMonths] [int] NULL,
	[Specs] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleItems]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleItems](
	[SaleItemId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[StoreId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[SaleDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockBalances]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockBalances](
	[StockBalanceId] [int] IDENTITY(1,1) NOT NULL,
	[StoreId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockBalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[StoreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 26.03.2026 21:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ContactPerson] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[TaxId] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [LoyaltyCardNumber], [FullName], [Phone], [RegistrationDate]) VALUES (1, N'CARD001', N'Смирнов Александр Игоревич', N'+7 (901) 111-22-33', CAST(N'2024-01-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [LoyaltyCardNumber], [FullName], [Phone], [RegistrationDate]) VALUES (2, N'CARD002', N'Козлова Елена Дмитриевна', N'+7 (902) 222-33-44', CAST(N'2024-01-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [LoyaltyCardNumber], [FullName], [Phone], [RegistrationDate]) VALUES (3, N'CARD003', N'Морозов Дмитрий Алексеевич', N'+7 (903) 333-44-55', CAST(N'2024-02-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Deliveries] ON 

INSERT [dbo].[Deliveries] ([DeliveryId], [SupplierId], [StoreId], [DeliveryDate], [InvoiceNumber]) VALUES (1, 1, 1, CAST(N'2024-02-01T10:30:00.000' AS DateTime), N'INV-2024-001')
INSERT [dbo].[Deliveries] ([DeliveryId], [SupplierId], [StoreId], [DeliveryDate], [InvoiceNumber]) VALUES (2, 2, 1, CAST(N'2024-02-05T14:45:00.000' AS DateTime), N'INV-2024-002')
INSERT [dbo].[Deliveries] ([DeliveryId], [SupplierId], [StoreId], [DeliveryDate], [InvoiceNumber]) VALUES (3, 1, 2, CAST(N'2024-02-10T11:20:00.000' AS DateTime), N'INV-2024-003')
SET IDENTITY_INSERT [dbo].[Deliveries] OFF
GO
SET IDENTITY_INSERT [dbo].[DeliveryItems] ON 

INSERT [dbo].[DeliveryItems] ([DeliveryItemId], [DeliveryId], [ProductId], [Quantity], [PurchasePrice]) VALUES (1, 1, 1, 10, CAST(75000.00 AS Decimal(18, 2)))
INSERT [dbo].[DeliveryItems] ([DeliveryItemId], [DeliveryId], [ProductId], [Quantity], [PurchasePrice]) VALUES (2, 1, 2, 8, CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[DeliveryItems] ([DeliveryItemId], [DeliveryId], [ProductId], [Quantity], [PurchasePrice]) VALUES (3, 1, 4, 5, CAST(38000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DeliveryItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [StoreId], [FullName], [Login], [PasswordHash], [Role]) VALUES (1, 1, N'Соколов Андрей Игоревич', N'sokolov_andrey', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Директор магазина')
INSERT [dbo].[Employees] ([EmployeeId], [StoreId], [FullName], [Login], [PasswordHash], [Role]) VALUES (2, 1, N'Михайлова Ирина Владимировна', N'mihailova_irina', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Старший продавец')
INSERT [dbo].[Employees] ([EmployeeId], [StoreId], [FullName], [Login], [PasswordHash], [Role]) VALUES (3, 1, N'Алексеева Наталья Павловна', N'alekseeva_natalya', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Продавец')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [SKU], [Name], [Category], [Manufacturer], [WarrantyMonths], [Specs]) VALUES (1, N'NB-ASUS-001', N'Ноутбук ASUS ROG Strix G15', N'Ноутбуки', N'ASUS', 24, N'Intel Core i7-12700H, 16GB RAM, 512GB SSD, NVIDIA RTX 3060, 15.6" Full HD 144Hz')
INSERT [dbo].[Products] ([ProductId], [SKU], [Name], [Category], [Manufacturer], [WarrantyMonths], [Specs]) VALUES (2, N'NB-HP-001', N'Ноутбук HP Pavilion 15', N'Ноутбуки', N'HP', 12, N'Intel Core i5-1235U, 8GB RAM, 256GB SSD, Intel Iris Xe, 15.6" Full HD')
INSERT [dbo].[Products] ([ProductId], [SKU], [Name], [Category], [Manufacturer], [WarrantyMonths], [Specs]) VALUES (3, N'NB-LEN-001', N'Ноутбук Lenovo IdeaPad 3', N'Ноутбуки', N'Lenovo', 12, N'AMD Ryzen 5 5500U, 8GB RAM, 512GB SSD, AMD Radeon, 15.6" Full HD')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleItems] ON 

INSERT [dbo].[SaleItems] ([SaleItemId], [SaleId], [ProductId], [Quantity], [SalePrice]) VALUES (1, 1, 1, 1, CAST(95000.00 AS Decimal(18, 2)))
INSERT [dbo].[SaleItems] ([SaleItemId], [SaleId], [ProductId], [Quantity], [SalePrice]) VALUES (2, 1, 6, 1, CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[SaleItems] ([SaleItemId], [SaleId], [ProductId], [Quantity], [SalePrice]) VALUES (3, 1, 11, 1, CAST(4500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SaleItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleId], [StoreId], [EmployeeId], [CustomerId], [SaleDate], [TotalAmount]) VALUES (1, 1, 2, 1, CAST(N'2024-03-01T12:30:00.000' AS DateTime), CAST(118000.00 AS Decimal(18, 2)))
INSERT [dbo].[Sales] ([SaleId], [StoreId], [EmployeeId], [CustomerId], [SaleDate], [TotalAmount]) VALUES (2, 1, 3, NULL, CAST(N'2024-03-01T15:45:00.000' AS DateTime), CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[Sales] ([SaleId], [StoreId], [EmployeeId], [CustomerId], [SaleDate], [TotalAmount]) VALUES (3, 2, 6, 2, CAST(N'2024-03-02T11:20:00.000' AS DateTime), CAST(127500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[StockBalances] ON 

INSERT [dbo].[StockBalances] ([StockBalanceId], [StoreId], [ProductId], [Quantity]) VALUES (1, 1, 1, 15)
INSERT [dbo].[StockBalances] ([StockBalanceId], [StoreId], [ProductId], [Quantity]) VALUES (2, 1, 2, 9)
INSERT [dbo].[StockBalances] ([StockBalanceId], [StoreId], [ProductId], [Quantity]) VALUES (3, 1, 3, 8)
SET IDENTITY_INSERT [dbo].[StockBalances] OFF
GO
SET IDENTITY_INSERT [dbo].[Stores] ON 

INSERT [dbo].[Stores] ([StoreId], [Name], [Address], [Phone], [Status]) VALUES (1, N'Главный магазин', N'ул. Ленина, 10, Москва', N'+7 (495) 123-45-67', N'работает')
INSERT [dbo].[Stores] ([StoreId], [Name], [Address], [Phone], [Status]) VALUES (2, N'Филиал на Южной', N'ул. Южная, 25, Санкт-Петербург', N'+7 (812) 234-56-78', N'работает')
INSERT [dbo].[Stores] ([StoreId], [Name], [Address], [Phone], [Status]) VALUES (3, N'Филиал на Северной', N'ул. Северная, 15, Новосибирск', N'+7 (383) 345-67-89', N'на ремонте')
SET IDENTITY_INSERT [dbo].[Stores] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [Name], [ContactPerson], [Phone], [TaxId]) VALUES (1, N'ООО "ТехноПост"', N'Иванов Иван Иванович', N'+7 (495) 111-22-33', N'7701123456')
INSERT [dbo].[Suppliers] ([SupplierId], [Name], [ContactPerson], [Phone], [TaxId]) VALUES (2, N'АО "Компьютерный мир"', N'Петров Петр Петрович', N'+7 (495) 222-33-44', N'7701654321')
INSERT [dbo].[Suppliers] ([SupplierId], [Name], [ContactPerson], [Phone], [TaxId]) VALUES (3, N'ООО "Электроника Плюс"', N'Сидоров Алексей Владимирович', N'+7 (812) 333-44-55', N'7801987654')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__5E55825BF9D7F5F2]    Script Date: 26.03.2026 21:43:56 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__CA1ECF0D01F32129]    Script Date: 26.03.2026 21:43:56 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Store_Product]    Script Date: 26.03.2026 21:43:56 ******/
ALTER TABLE [dbo].[StockBalances] ADD  CONSTRAINT [UQ_Store_Product] UNIQUE NONCLUSTERED 
(
	[StoreId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__711BE0AD481282ED]    Script Date: 26.03.2026 21:43:56 ******/
ALTER TABLE [dbo].[Suppliers] ADD UNIQUE NONCLUSTERED 
(
	[TaxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[DeliveryItems]  WITH CHECK ADD FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[Deliveries] ([DeliveryId])
GO
ALTER TABLE [dbo].[DeliveryItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[StockBalances]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[StockBalances]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[DeliveryItems]  WITH CHECK ADD CHECK  (([PurchasePrice]>=(0)))
GO
ALTER TABLE [dbo].[DeliveryItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([WarrantyMonths]>=(0)))
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD CHECK  (([SalePrice]>=(0)))
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[StockBalances]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD CHECK  (([Status]='на ремонте' OR [Status]='закрыт' OR [Status]='работает'))
GO
USE [master]
GO
